doctype html
html(ng-app="Moonshiner")
  head
    base(href="/")
    meta(charset="UTF-8")
    title Moonshiner
    link(rel='stylesheet', href='/modules/angular-material/angular-material.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/icons/icons-style.css')
    link(rel='stylesheet', href="/modules/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/modules/angular-input-stars/angular-input-stars.css')

  body(ng-controller="MainController")
    div(class="header md-whiteframe-3dp")
      img(src="images/grandpa.png" width="90" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px;")
      img(src="images/logo.png" width="380" style="padding-bottom: 30px;")
      .header-buttons
        div(class="header-item" ng-if="account.isAuthenticated")
          md-menu(md-position-mode="target bottom")
            md-list-item(ng-click="openMenu($mdMenu, $event)")
              img(ng-src="images/user.jpg" class="md-avatar")
              h4(class="user-info") {{account.user.fullname}}
            md-menu-content(width="4")
              md-menu-item
                md-button
                  md-icon(md-font-library="material-icons") local_library
                  span My recipies
              md-menu-item
                md-button(disabled)
                  md-icon(md-font-library="material-icons") storage
                  span My setups
              md-menu-item
                md-button(disabled)
                  md-icon(md-font-library="material-icons") settings
                  span Preferences
              md-divider
              md-menu-item
                md-button(ng-click="logOff()")
                  md-icon(md-font-library="material-icons") arrow_forward
                  span Log off
          //h4(class="user-info") Welcome {{account.user.fullname}}
          //md-button(class="md-warn header-item" ng-click="logOff()")
          //  md-icon(md-font-library="material-icons") arrow_forward
          //  span log off
        div(layout="row" ng-if="!account.isAuthenticated")
          md-button(class="md-warn header-item" ng-click="signUp($event)")
            md-icon(md-font-library="material-icons") person_add
            span sign up
          md-button(class="md-raised md-warn header-item" ng-click="signIn($event)")
            md-icon(md-font-library="material-icons") person
            span sign in
    div(id="main-container" class="header-tabs md-whiteframe-3dp")
      div(class="header-tabs")
        md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="md-accent")
          md-nav-item(ng-repeat="item in tabs" md-nav-href="{{item.href}}" name="{{item.name}}") {{item.title}}
        div(ng-view)

    script(src='/modules/jquery/dist/jquery.min.js')
    script(src='/modules/angular/angular.js')
    script(src='/modules/angular-material/angular-material.js')
    script(src='/modules/angular-animate/angular-animate.min.js')
    script(src='/modules/angular-aria/angular-aria.min.js')
    script(src='/modules/angular-route/angular-route.min.js')
    script(src='/modules/angular-messages/angular-messages.min.js')
    script(src='/modules/angular-input-stars/angular-input-stars.js')
    script(src='/modules/ng-facebook/ngFacebook.js')
    script(src='/modules/moment/min/moment.min.js')

    script(src='/javascripts/main.js')
    script(src='/javascripts/account/logging-controller.js')
    script(src='/javascripts/account/register-controller.js')
    script(src='/javascripts/liquid-controller.js')
    script(src='/javascripts/liquids-controller.js')
    script(src='/javascripts/setups-controller.js')
    script(src='/javascripts/error-info-controller.js')
    script(src='/javascripts/services/security/auth-service.js')
    script(src='/javascripts/services/security/auth-interceptor.js')
    script(src='/javascripts/services/liquids-provider.js')
    script(src='/javascripts/services/filters/liquids-filter-service.js')
    script(src='/javascripts/services/dialog-service.js')
    script(src='/javascripts/ratings-dialog-controller.js')
    script(src='/javascripts/filters/date-filter.js')

    script(src='/javascripts/directives/display-date-directive.js')