// Colors definition:
@app-red: #E63946;
@app-yellow: #F1FAEE;
@app-light-blue: #A8DADC;
@app-queen-blue: #457B9D;
@app-logo-blue: #1D3557;
@deep-orange: #FF5722;
@grey: #666;

// Social

.fb-color {
  color: #4267b2;
}


// Classes
.menu-button{
  font-weight: bold;
}

.header-tabs{
  width: 100%;
  padding-top: 5px;
  max-width: 1200px;
  margin: 0 auto;
  color: @app-queen-blue;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 110px;
  background-color: #1d3557;
}

a {
  color: #00B7FF;
}

.right{
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

div.header-buttons {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.header-item{
  margin-left: 5px;
  margin-right: 5px;
}

.md-button.md-accent{
  color: @deep-orange;
}

md-nav-bar md-nav-ink-bar{
  color: @deep-orange;
  background-color: @deep-orange;
}

.content{
  padding: 30px;
}

#main-container {
  min-height: 85%;
  margin-bottom: 20px;
}

.md-button.md-primary.form-button{
  max-height: 40px;
}

.md-button.md-primary.form-button:not([disabled]) {
  background-color: @app-queen-blue;
}

.md-button.md-primary.form-button:not([disabled]):hover {
  background-color: @app-queen-blue - 20;
}

md-toolbar:not(.md-menu-toolbar).light{
  background-color: @grey + 140;
  color: @app-queen-blue;
}

.error-info{
  color: @app-red;
}

@media only screen and (min-width:640px) and (min-device-width:640px) {
  .fullscreenDialog {
    min-width: 600px;
  }
}

.user-info {
  color: @app-yellow;
  line-height: 5px;
  margin-right: 10px;
}

.rating-list-item-stars{
  margin-top: 0;
  margin-bottom: 0;
}

md-list-item .md-secondary-container p.secondary-subinfo {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .01em;
  margin: 0;
  line-height: 1.6em;
}

md-list.bordered-page-list {
  padding: 0;
}

.md-content-list-whiteframe {
  margin-bottom: 30px !important;
}

md-dialog {
  border-radius: 0;
}

div.search-bar {
  margin: 20px 0 0 0;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: @app-queen-blue;
  color: @app-yellow;
}

.author {
  color: @deep-orange !important;
}

.title-small {
  font-size: 15px;
}

md-checkbox.md-checkbox-horizontal {
  margin: 0 0 0 15px;
}

md-checkbox.md-checkbox-horizontal .md-label {
  margin-left: 25px;
}

md-checkbox.md-checked .md-ink-ripple  {
  color: grey;
}

md-card.filtering-toolbar {
  padding: 0;
  margin: 0;
}

md-toolbar:not(.md-menu-toolbar) md-icon.md-icon-orange {
  color: @deep-orange;
}

md-input-container.md-input-container-thin {
  margin: 5px 0 0 0;
}

md-input-container.md-input-container-thin .no-errors-spacer {
    display: none;
}

.md-input-container.md-queen-blue:not(.md-input-invalid).md-input-focused .md-input {
  broder-color: @app-queen-blue;
}

// CONTROLS ORANGE:

md-checkbox.md-orange.md-checked  .md-icon {
  background-color: @deep-orange;
}

md-radio-button.md-orange .md-on{
  background-color: @deep-orange;
}

md-radio-button.md-orange.md-checked .md-off{
  border-color: @deep-orange;
}

md-switch.md-orange.md-checked .md-thumb{
  background-color: @deep-orange;
}

md-switch.md-orange.md-checked .md-ink-ripple{
  color: @deep-orange;
}

md-switch.md-orange.md-checked .md-bar {
  background-color: fade(@deep-orange, 50%);
}

.md-orange.md-datepicker-open .md-datepicker-calendar-icon{
  color: @deep-orange;
}

//

// CONTROLS QUEEN BLUE:

md-checkbox.md-queen-blue.md-checked  .md-icon {
  background-color: @app-queen-blue;
}

md-radio-button.md-queen-blue .md-on{
  background-color: @app-queen-blue;
}

md-radio-button.md-queen-blue.md-checked .md-off{
  border-color: @app-queen-blue;
}

md-switch.md-queen-blue.md-checked .md-thumb{
  background-color: @app-queen-blue;
}

md-switch.md-checked .md-queen-blue .md-ink-ripple{
  color: @app-queen-blue;
}

md-switch.md-queen-blue.md-checked .md-bar {
  background-color: fade(@app-queen-blue, 50%);
}

.md-queen-blue.md-datepicker-open .md-datepicker-calendar-icon{
  color: @app-queen-blue;
}

//
.md-label, md-select-value span, md-option .md-text {
  font-size: 14px;
}

.font-small {
  font-size: 14px;
}

.search-bar-details {
  width: 50%;
}

md-select{
  width: 200px;
}

md-input-container.no-errors-spacer .md-errors-spacer {
  display: none;
}

md-select:not([disabled]):focus .md-select-value{
  border-bottom-color: @app-queen-blue;
}

md-select-menu md-content md-option[selected], md-select-menu md-content md-option:focus {
  color: @app-queen-blue !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: @app-queen-blue;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: @app-queen-blue;
}

.search-bar input {
  font-size: 14px;
}

::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; } /* ie */
input:-moz-placeholder { font-size: 14px; }