// Colors definition:
@logo-blue: rgba(38, 109, 211, 1);
@yellow: rgba(232, 218, 178, 1);
@dark-blue: rgba(39, 93, 173, 1);
@blue-grey: rgba(79, 109, 122, 1);
@light-pink: rgba(249, 212, 187, 1);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.x{
  color: @logo-blue;
}

.y{
  color: @yellow;
}

.z{
  color: @dark-blue;
}

.a{
  color: @blue-grey;
}

.b{
  color: @light-pink;
}
