<div layout-padding flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
     flow-init="{singleFile:true}" flex layout-align="center center" layout="row">
    <div>
        <md-subheader class="bold">
            {{heading}}
        </md-subheader>
        <div flex layout-align="center center" layout="row">
            <div ng-show="!$flow.files.length && !image" class="margin-sides-10">
                <img ng-src="images/user.jpg" />
            </div>
            <div ng-show="$flow.files.length || image" class="img-upload">
                <img-crop image="image" result-image="croppedImage" result-image-size="245" area-type="square" on-change="croppedImageChanged($dataURI)"></img-crop>
            </div>
            <div ng-show="$flow.files.length || image" class="img-upload-preview">
                <img ng-src="{{croppedImage}}" />
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <md-button ng-show="!$flow.files.length" class="md-primary md-raised form-button" >
                <md-icon md-font-library="material-icons">
                    photo_library
                </md-icon>
                <label for="select">Select image</label>
            </md-button>
            <input class="file-input" flow-btn id="select" ng-show="!$flow.files.length"
                   onchange="angular.element(this).scope().loadImage(angular.element(this).scope().$flow.files[0])">
            <md-button ng-show="$flow.files.length" class="md-raised">
                <md-icon md-font-library="material-icons">
                    mode_edit
                </md-icon>
                <label for="change">Change</label>
            </md-button>
            <input class="file-input" flow-btn id="change" ng-show="$flow.files.length"
                   onchange="angular.element(this).scope().loadImage(angular.element(this).scope().$flow.files[0])">
            <md-button ng-show="$flow.files.length" class="md-raised warn-text">
                <md-icon md-font-library="material-icons">
                    clear
                </md-icon>
                <label for="cancel">Remove</label>
            </md-button>
            <input class="file-input" id="cancel" ng-click="removeImage()"
                   ng-show="$flow.files.length">

            <md-button class="md-raised" ng-click="cancel()">
                <md-icon md-font-library="material-icons">
                    clear
                </md-icon>
                Cancel
            </md-button>
        </div>
        <!--<p>-->
        <!--Only PNG,GIF,JPG,JPEG files allowed.-->
        <!--</p>-->

    </div>
</div>